body {
  margin: 0;
  padding: 0;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.CircularProgressbar {
  width: 40%;
  height: 50%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,
#root {
  background: #fff;
  scroll-behavior: smooth;
}
.top-fold {
  height: 70vh;
  background-image: url(./assets/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  color: #fff;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.booking-header a {
  /*background-color: #17a2b8;*/
  color: #fff;
  float: left;
  flex: 1;
}
*/ */ .booking-wrapper {
  margin: 2rem 0 4rem 0;
}
.onboarding form {
  margin: 2rem 0;
}
.owners .container {
  margin: 1rem 0;
}
.card {
  margin-bottom: 0.2rem;
}
.booking-wrapper .card {
  margin-bottom: 1rem;
}
.wrapper {
  padding-bottom: 4rem;
}
.hero-text {
  padding: 4px 18px;
  font-size: 3.5rem;
  text-align: center;
}
.cities {
  margin: 1rem 0;
}
.cities .btn {
  margin-bottom: 0.5rem;
}
.mt1 {
  margin-top: 1rem;
}
.book-now-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  padding: 0.275rem 1rem;
}
.hero-sub-text {
  padding: 4px 18px;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
}
.login-btn {
  display: flex;
  padding: 20px 8px 0 20px;
  align-items: center;
  justify-content: flex-end;
}
.login-btn .btn {
  color: #fff;
}
.btn-outline-primary,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled):focus {
  color: #fff;
  border-color: #fff;
  background-color: transparent !important;
  box-shadow: none;
}
.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.material-icons {
  vertical-align: sub;
}
form {
  width: 100%;
}
a {
  color: #17a2b8;
}
a:hover {
  color: #149db2;
}
.home-login {
  margin-top: 10%;
}
.login-wrapper {
  margin-top: 30%;
  text-align: center;
}
.footer {
  background-color: rgb(31, 31, 31);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 18px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  font-size: 0.8rem;
}
.modal-body,
.btn {
  margin: 4px;
}
.dropdown-menu.show {
  opacity: 1 !important;
  pointer-events: all !important;
}
.dropdown-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.logo-image {
  height: 48px;
}
.text-center {
  text-align: center;
}
.donate {
  width: 24px;
}
.profile__backDrop {
  background: linear-gradient(rgba(35, 170, 221, 0.8), #1d5d85);
  height: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__header {
  position: relative;
  margin-top: 2rem;
}
.profile__editIcon {
  position: absolute;
  top: 0;
  right: 0;
}
.slot-listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-group-item {
  padding: 0.25rem;
}
.emptySearch{
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.15);
  /* box-shadow: 1px 1px 4px rgba(0,0,0,.2); */
  padding: 1rem;
  text-align: center;
}
.storeCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.storeCard h2{
  margin-bottom: 0;
}
.addSlotsForm .form-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.addSlotsForm .form-group>label {
  flex: 1;
}
.addSlotsForm .form-group .form-control {
  width: 25%;
}

#loading-overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 2;
}

#loading-text{
  color: black;
  text-transform: uppercase;
}
.goog-logo-link {
  display: none;
}
.goog-te-gadget .goog-te-combo {
  color: #17a2b8;
  font-size: 18px;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  width: 72%;
  font-weight: bold;
}
.modal-footer{
  display: flex;
  justify-content: space-between;
}
